{% extends 'base.html' %}
{% block content %}
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PaperMetrix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'topics' %}">Topics</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'library'%}">Library</a>
            <a class="dropdown-item" href="#">Your reccomendations</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">About</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-2" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if not request.user.is_authenticated %}
        <a class="btn btn-primary mx-2" href="{% url 'signup' %}" role="button" aria-disabled="true">Sign up</a>
        <a class="btn btn-primary" href="{% url 'login' %}" role="button" aria-disabled="true">Log in</a>
      {% else %}
        <a class="btn btn-outline-danger" href="{% url 'logout' %}" role="button">Log out</a>
      {% endif %}
    </div>
  </nav>
  <div class="container mt-5">
    <div class="d-flex flex-column">
      <div class="mr-auto">
        <h5><small class="text-muted">Author's Name:&nbsp </small>{{ object.name }}</h5>
      </div>
      <div>
        <h5><small class="text-muted">Author's articles:</small></h5>
        <ul class="list-group mr-4">
        {% for i in page_obj %}
          <li class="list-group-item">
            <a href="{% url 'article' i.pk %}" class="stretched-link">{{ i.title }}</a>
            <p class="ml-auto">Readers: <small class="text-muted">{{ i.reader_count }}</small></p>
          </li>
        {% endfor %}
        <div class="d-flex">
          <nav class="mr-auto mx-lg-auto mt-3">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}
              <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      <div>
        <button class="btn btn-outline-warning mt-3" id='load_author'>Load more articles for this author</button>
      </div>
      <div class="d-flex flex-column">
        <div class="spinner-grow m-auto display" role="status" style="width: 3rem; height: 3rem;display:none">
        </div>
        <div class="m-auto">
          <span class="display" style="display:none" >Fetching data. Don't hit refresh</span>
        </div>
      </div>

    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(()=>{
      $("#load_author").click(()=>{
        $(".display").css({"display":"block"})
        $.ajax({
          type:'POST',url:"{% url 'load_articles_author' %}",
          data:{pk:"{{object.pk}}",csrfmiddlewaretoken:"{{csrf_token}}"},
          success:(res)=>{
            console.log(res);
            location.reload()
            $(".display").css({"display":"none"})
          }
        })
      })
    })
  </script>
<div class="well well-sm vertical-align">
	<div class="row">
		<div class="col-md-6">
			<p class="md">
			
<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
    About | Hakkında
</button>

<!-- Modal-->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> About | Hakkında</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="height: 900px;">
			
			<!-- tjribi-->

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">English</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Türkçe</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  <style>
div {
  text-align: justify;
  text-justify: inter-word;
}
</style>
<b><font color="#9c0000">PaperMetrix - a personalized recommender for scientific literature</font></b>
<div>
<p>With the recent explosion in scientific publishing, how do you find the essential science that you need to read?</p> 
<p><b><font color="#dc3545">PaperMetrix is here to help you.</font></b></p>
<p>PaperMetrix is a personalized recommender system that specifically aims to help researchers and practitioners in the scientific community parse through the large volume of literature and filter publications that may be relevant and of interest to them.</p>

<p>PaperMetrix automatically sorts all new scientific papers into related topics and allows you to view the recent papers that are most likely to become influential in each topic. It is a cloud based service that uses novel algorithms to classify and cluster published using Topic Modeling.</p>  
<p>Researchers (our typical users) provide basic information like topics/keywords of interest and journal papers. Users can create multiple ‘libraries’ (for different projects) and upload papers to it directly from Mendeley.</p>

<p>PaperMetrix provides a seamless interface to search the Mendeley database as well. Personalized recommendations based on relevancy, recency, up or down vote, comment and sentiment analysis are created daily and weekly email digests of relevant publications in your field of research are sent directly to your inbox.</span></p>

<p>PaperMetrix also monitors the Twitter feed and tweets relevant to your field of interest are available in real time. When you "Like", "Vote” and "comment" papers this will help us to make better recommendations for you and for other users in future.</p>

<p>The project of PaperMetrix is developed as the practical part of a PhD thesis in the Department of Libraries & Information Science at Istanbul University-Turkey- on the topic of Altmetric for scientific research.</p>

<p><b>Disclaimer:</b></p> While PaperMetrix is powered by the Mendeley API, the two services are in no way affiliated to one another.</p>
<p><b><font color="#9c0000">PaperMetrix Team</font></b></p>
<b><a href="mailto:brahim.kertiou@ogr.iu.edu.tr">brahim.kertiou@ogr.iu.edu.tr</a></b></div>
</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  <b><font color="#9c0000">PaperMetrix - bilimsel literatür için kişiselleştirilmiş bir tavsiye</font></b>
<div>
<p>Bilimsel yayıncılıkta son dönemde yaşanan patlama ile birlikte okumanız gereken makaleleri nasıl bulabilirsiniz?</p> 
<p><b><font color="#dc3545">PaperMetrix size yardımcı olmak için vardır.</font></b></p>
<p>PaperMetrix, özellikle bilimsel topluluktaki araştırmacıların büyük hacimli literatürü incelemesine, ilgisini çekebilecek ve önemli olabilecek çok sayıda yayını analiz etmelerine ve filtrelemelerine yardım etmeyi amaçlayan kişiselleştirilmiş bir tavsiye sistemidir.</p>

<p>PaperMetrix, tüm yeni bilimsel makaleleri otomatik olarak ilgili konulara göre ayırır ve her konuda etkili olma olasılığı en yüksek olan son makaleleri görüntülemenizi sağlar. PaperMetrix, yayınları sınıflandırmak ve kümlemek için konu modelleme yöntemi ile yeni algoritmalar kullanan bulut tabanlı bir hizmettir.</p>  
<p>Araştırmacılar (tipik kullanıcılarımız), ilgi konuları ve anahtar kelimeleri ve dergi makaleleri gibi temel bilgileri sağlar. Kullanıcılar birden fazla "kütüphane" (farklı projeler için) oluşturabilir  ve Mendeley'den makaleleri doğrudan  yükleyebilir.</p>

<p>PaperMetrix, Mendeley veri tabanında da arama yapmak için kusursuz bir arayüz sağlar. Kişiselleştirilmiş öneriler, İlgi, yenilik, yukarı ve aşağı oylama, yorumlar ve duygu analizine göre oluşturulduktan sonra  her hafta araştırma alanınızla ilgili yayınların özetleri e-posta adresinize gönderilir. </span></p>

<p>Ayrıca PaperMetrix, Twitter’deki tweetleri izler ve alanınızla ilgili o anki tweet'leri sunar. Makaleler  "Beğenmeniz", "Oy vermeniz" ve "yorum yapmanız", size ve gelecekte diğer kullanıcılar için daha iyi önerilerde bulunmamıza yardımcı olacaktır.</p>

<p>PaperMetrix projesi, İstanbul Üniversitesi Edebiyat Fakültesi Bilgi ve Belge Yönetimi bölümünde bilimsel araştırmalar için Altmetrik konusu üzerinde hazırlanan doktora tezinin pratik bölümü olarak geliştirilmiştir.</p>

<p><b>Feragatname:</b></p> PaperMetrix, Mendeley API'sı tarafından desteklenirken, iki hizmet hiçbir şekilde birbirine bağlı değildir.</p>
<p><b><font color="#9c0000">PaperMetrix Ekibi</font></b></p>
<b><a href="mailto:brahim.kertiou@ogr.iu.edu.tr">brahim.kertiou@ogr.iu.edu.tr</a></b></div>
</div> 

</div>
             <!-- tjribi-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close | Kapat</button>
             </div>
        </div>
    </div>
</div>
			</p>
		</div>
		<div class="col-md-6">
			<p class="md">
				<p><b>PaperMetrix Support: 
			<a href="mailto:brahim.kertiou@ogr.iu.edu.tr">brahim.kertiou@ogr.iu.edu.tr</a><br>© Copyright PaperMetrix 2021, all rights reserved.
</p></b></p>
		</div>
	</div>
  <style>
.well {
position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f8f9fa!important;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-6 {
    width: 50%;
}
.md {
    text-align: center;
}
  </style>
</div>
</body>
{% endblock %}
